
# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

lovelace:
  mode: yaml
  dashboards:
    lovelace-home:
      mode: yaml
      filename: lovelace/home.yaml
      title: Home
      icon: mdi:home

shell_command:
  git_pull_config: "git -C /config pull --rebase"

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

logger:
  default: info
  logs:
    homeassistant.components.shell_command: debug